.contact-section {
    padding: 50px 0;
    background-color: #222; /* Dark background */
}

.section-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #ffc107; /* Yellow for warning */
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-links a {
    font-size: 2.5rem; /* Larger icons */
    color: #fff;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}
.social-links a:hover {
    transform: scale(1.15);
    transition: 0.1s ease-in-out;
}

.social-links a:hover {
    color: #ffc107; /* Yellow on hover */
}