/* General Styles */
body {
    background-color: #282c34;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #d1d1d1;
}

.nav-item {
    position: relative;
    padding-bottom: 1rem;
}

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.about-section {
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.section-title,
.slide-in-text,
.section-description {
    margin-bottom: 20px;
}

.section-description {
    grid-column: 1 / span 2;
    font-size: 1.2rem;
}

.slide-in-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.slide-in-text {
    font-size: 1.5rem;
    color: #333;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 2s forwards;
    animation-delay: 1s;
    transition: color 0.3s ease;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-in-text:nth-child(1) {
    animation-delay: 0s;
}

.slide-in-text:nth-child(2) {
    animation-delay: 2s;
}

.slide-in-text:nth-child(3) {
    animation-delay: 4s;
}

.slide-in-text:nth-child(4) {
    animation-delay: 6s;
}

.circular-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.description-title {
    font-size: 2rem;
    font-weight: 300;
    color: #17a2b8;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.description-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.name {
    color: goldenrod;
    font-size: larger;
    font-weight: bolder;
}

.contact-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn-contact {
    background-color: #ffc107;
    color: #212529;
    margin-bottom: 30px;
    padding: 1px 7px;
    font-size: 1.2rem;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-contact:hover {
    background-color: #e0a800;
    opacity: 80%;
    color: #212529;
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.about-details-section {
    padding: 50px 0;
    background-color: #222;
}

.section-title {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.section-description {
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #fff;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section-description {
        grid-column: 1;
    }

    .circular-image {
        width: 200px;
        height: 200px;
    }
    .smaller{
        transform: scale(0.7);
        transform-origin: top left;
        margin-bottom: -100px;
    }
}
