.projects-section {
    margin-top: 50px;
    color: #fff;
    padding: 20px;
    background-color: #222;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.section-title::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background-color: #ffc107;
    border-radius: 2px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-item {
    flex: 1 1 calc(25% - 20px);
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    text-align: center;
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project-item h3 {
    margin-bottom: 10px;
    color: #ffc107;
    font-size: 1.5rem;
}

.project-item p {
    margin-bottom: 10px;
    font-size: 1rem;
}

.project-item a {
    color: #fff;
    text-decoration: none;
}

.project-item:hover {
    transform: translateY(-5px);
}

.another{
    color: #222222 !important;
}
.another:hover{
    background-color: darkgoldenrod;
}


/* Responsive design */
@media (max-width: 1200px) {
    .project-item {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .project-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .project-item {
        flex: 1 1 100%;
    }
}
